body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-x: hidden;
  background-color: #0d0714;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  max-width: 432px;
  min-height: 100vh;
  padding-top: 74px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 55px;
}

.header {
  display: flex;
  width: 432px;
  gap: 11px;
}
header button {
  border: none;
  appearance: none;
  background-color: #9e78cf;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
header .input {
  width: 382px;
  background-color: #0d0714;
  border-radius: 10px;
  border: 1px solid #3e1671;
  outline: 1px solid #3e1671;
  padding: 10px 15px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 300ms ease-in-out;

}
.title {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.todo {
  border-radius: 10px;
  background: #15101c;
  display: flex;
  justify-content: space-between;
  padding: 28px 21px;
  font-size: 18px;
  color: #9E78CF;
  transition: all 300ms ease-in-out;
}
.todo-title{
  margin: 0;
}
.icons{
  display: flex;
  column-gap: 16px;
  cursor: pointer;
  transition: hover 300ms ease-in-out;
}
.icons svg:hover path{
  fill: #372a49;
}

.completed{
  text-decoration:line-through;
  color: #78CFB0;
}
